.Login {
	text-align: center;
}

.Login .MuiFormControl{
    margin: 10px;
}

.Login .error {
	
    color: rgb(184, 6, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#head{
    font-size: small;
    text-align: left;
}