
.CouponCard {
    position: relative; 
    margin: 10px; 
    max-width: 220px;
    min-width: 220px;
    max-height: 280px;
    min-height: 280px;
    
  }

  .CouponCard .MuiCardCon
  
img{
    width: 50%;
}

.price-circle {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #469e07; 
    color: #fff; 
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
  }